$main_bg_color:#ed9121;
$main_conteiner_bg_color: rgb(0, 204, 255);
$outer_link_bg_color: rgb(18, 239, 255);
$dribbble_bg_color: #ea4c89;
$tumblr_bg_color: #34526f;
$youtube_bg_color: #c4302b;
$instagram_bg_color: #5dcd18;
$linkedin_bg_color: #0e76a8;
$facebook_bg_color: #3b5998;
$twitter_bg_color: #56e2f2;


